.page {
  height: 100vh;
  background: linear-gradient(165.18deg, #3F3652 0.72%, #18132D 103.84%);
}
.page__header {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  z-index: 3;
}
.page__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.page__header,
.page__footer {
  height: 100px;
}

.page__content {
  padding: 100px 0;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;  
}
.main-nav__link {
  margin: 0 5px;
  padding: 5px;
  color: #fff;
  text-decoration: none;
}
.main-nav__link.active {
  color: red;
}
.sign {
  max-width: 60px;
}
.sign img {
  width: 100%;
}